@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.app {
    max-width: 300px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    width: 100%;
}