.add-form {
    margin-top: 5px;
    display: flex;
}

.add-button {
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #c4c4c4;
    margin-left: 5px;
    width: 100px;
    background-color: transparent;
}

.add-button:hover {
    color: white;
    background-color: black;
}